<div class="config-field">
    <label for="{{ input_id }}" class="config-field-label">
        {{ field.label|default:field.name }}
    </label>
    <div class="config-field-input">
        <textarea name="{{ input_name }}"
                  id="{{ input_id }}"
                  class="vLargeTextField"
                  rows="{{ field.extra.rows|default:4 }}"
                  {% if field.extra.placeholder %}placeholder="{{ field.extra.placeholder }}"{% endif %}>{{ value|default:'' }}</textarea>
    </div>
    {% if field.comment %}
    <p class="config-field-comment help">{{ field.comment }}</p>
    {% endif %}
</div>
